<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imechatron">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyFMService"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstYearCoursesActivity"
            android:label="100L Courses" />

        <activity android:name=".RegisterCoursesActivity"
            android:label="Course Registration"/>
        <activity android:name=".SecondYearActivity"
            android:label="200L Courses"/>
        <activity android:name=".ThirdYearActivity"
            android:label="300L Courses"/>
        <activity android:name=".FourthYearActivity"
            android:label="400L Courses"/>
        <activity android:name=".FinalYearActivity"
            android:label="500L Courses"/>
        <activity android:name=".GetStudyMaterialsActivity"
            android:label="Study"/>
        <activity android:name=".GpCalculateActivity"
            android:label="GPA Calculator"/>
    </application>

</manifest>